body {
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
}

input::placeholder {
    font-family: "DM Sans", sans-serif;
}

.icon {
    width: 24px;
    height: 24px;
}

.cursor-pointer {
    cursor: pointer;
}

.bold-text {
    font-weight: bold;
}

.display-none {
    display: none;
}
